<!DOCTYPE html>
<html lang="es">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <%= render template: 'templates/imports' %>
</head>

<body class = "centered-login">
<%= render template: 'templates/navbar' %>

<div class = "centered-login-container">
  <%= form_tag '/login', class: "form-container" do |form| %>
    <h1>Entra</h1>
    <div class="form-parameters">

      <%= render template: 'templates/alerts' %>

      <div class="field">
        <%= label_tag 'usermail', "Nom d'usuari o correu electrònic:", class: "textlabel" %>
        <br>
        <%= text_field_tag :usermail, '', class: "textbox" %>
      </div>
      <div class="field">
        <%= label_tag 'password', 'Contrasenya:', class: "textlabel" %>
        <br>
        <%= password_field_tag :password, '', class: "textbox"%>
      </div>
      <div class="action">
        <%= submit_tag 'Iniciar sessió', class: "submit-button"%>
        <p>
          No tens un compte?
          <%= link_to "Registra't", register_path %>
        </p>
      </div>
    </div>
  <% end %>
</div>
</body>
</html>