<!DOCTYPE html>
<html lang="es">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <%= render template: 'templates/imports' %>

  <title>Hello, world!</title>
</head>

<body class = "centered-login">
<!-- <h1>Agenda</h1> -->
<%= render template: 'templates/navbar' %>

<div class = "centered-login-container">
  <%= form_tag login_path, class: "form-container" do |form| %>
    <h1>Login</h1>
    <div class="form-parameters">
      <%if alert %>
        <div class="alert red">
          <%= alert %>
        </div>
      <%end %>
      <div class="field">
        <%= label_tag 'usermail', 'Nombre de usuario o correo electronico:', class: "textlabel" %>
        <br>
        <%= text_field_tag :usermail, '', class: "textbox" %>
      </div>
      <div class="field">
        <%= label_tag 'password', 'Contraseña:', class: "textlabel" %>
        <br>
        <%= password_field_tag :password, '', class: "textbox"%>
      </div>
      <div class="action">
        <%= submit_tag 'Login', class: "submit-button"%>
        <p>
          Don't have an account?
          <%= link_to 'Register', register_path %>
        </p>
      </div>
    </div>
  <% end %>
</div>
</body>
</html>