<!DOCTYPE html>
<html lang="es">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <%= render template: 'templates/imports' %>

  <title>Hello, world!</title>
</head>
<body class = "centered-login">
<%= render template: 'templates/navbar' %>

<div class = "centered-login-container">
  <%= form_tag register_path, class: "form-container" do |form| %>
    <h1>Register</h1>
    <div class="form-parameters" style="width: 550px">
      <%= render template: 'templates/alerts' %>
      <div class="field">
        <%= label_tag 'username', 'Nombre de usuario', class: "textlabel" %>
        <br>
        <%= text_field_tag :username, '', class: "textbox" %>
      </div>
      <div class="field">
        <%= label_tag 'name', 'Nombre', class: "textlabel" %>
        <br>
        <%= text_field_tag :name, '', class: 'textbox' %>
      </div>
      <div class="field">
        <%= label_tag 'surname', 'Apellidos', class: "textlabel" %>
        <br>
        <%= text_field_tag :surname, '', class: 'textbox' %>
      </div>
      <div class="field">
        <%= label_tag 'birthdate', 'Fecha de nacimiento', class: "textlabel" %>
        <br>
        <%= date_field :birthdate, '', value: '2000-01-01', class: 'textbox' %>
      </div>
      <div class="field">
        <%= label_tag 'email', 'Correo electronico', class: "textlabel" %>
        <br>
        <%= text_field_tag :email, '', class: "textbox" %>
      </div>
      <div class="horizontal-layout">
      <div class="field">
        <%= label_tag 'password', 'Contraseña:', class: "textlabel" %>
        <br>
        <%= password_field_tag :password, '', class: "textbox"%>
      </div>
      <div class="field">
        <%= label_tag 'confirmation', 'Confirma la contraseña:', class: "textlabel" %>
        <br>
        <%= password_field_tag :confirmation, '', class: "textbox"%>
      </div>
      </div>
      <div class="action">
        <%= submit_tag 'Register', class: "submit-button"%>
        <p>
          Already have an account?
          <%= link_to 'Login', login_path %>
        </p>
      </div>
    </div>
  <% end %>
</div>
</body>
</html>