<!DOCTYPE html>
<html lang="es">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <%= render template: 'templates/imports' %>
</head>
<body>
<!-- navbar -->
<%= render template: 'templates/navbar' %>
<div class = "page centered">
  <div class="navbar-separator"></div>
  <h1>
    Crea una categoria
  </h1>
  <%= render template: 'templates/alerts' %>
  <%= form_tag '/category/create/', class: "form-container", multipart: true do |form| %>
    <%= hidden_field_tag :groupcode, params[:groupcode] %>
    <div class="form-parameters">
      <div class="field centered" style="width: 75%">
        <p class="textlabel">Nom de la categoria:</p>
        <%= text_field_tag :name, '', class: "textboxlarge" %>
      </div>

      <div class="field centered" style="width: 90%">
        <p class="textlabel">Descripció:</p>
        <%= text_area_tag :desc, '', class: "bigtextbox", style: "height: 100%" %>
      </div>

      <div class="field centered" style="width: 90%">
        <p class="textlabel">Color:</p>
        <%= color_field_tag :color, '#' + Utils::Color.randomBright.toHex.to_s %>
        <br>
      </div>

      <div class="action">
        <%= submit_tag 'Crear categoria', class: "submit-button big"%>
      </div>
    </div>
  <% end %>
</div>
</body>