<!DOCTYPE html>
<html lang="es">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <%= render template: 'templates/imports' %>

  <%= javascript_pack_tag 'button-toggles' %>
</head>
<body>
<!-- navbar -->
<%= render template: 'templates/navbar' %>
<div class = "page centered">
  <div class="navbar-separator"></div>
  <h1>
    Crea una tasca
  </h1>
  <%= render template: 'templates/alerts' %>
  <%= form_tag '/task/create/', class: "form-container", multipart: true do |form| %>
    <%= hidden_field_tag :groupcode, params[:groupcode] %>
    <div class="form-parameters">
      <div class="field centered" style="width: 75%">
        <p class="textlabel">Nom de la tasca:</p>
        <%= text_field_tag :title, '', class: "textboxlarge" %>
      </div>

      <div class="field centered" style="width: 90%">
        <p class="textlabel">Descripció:</p>
        <%= text_area_tag :desc, '', class: "bigtextbox", style: "height: 100%" %>
      </div>

      <div class="field centered" style="width: 90%">
        <p>Data:</p>
        <div id="calendar" style="height: 500px"></div>
        <%= date_field_tag :day, '', value: '2000-01-01', class: 'textbox', id: 'calendar-attached'%>
      </div>

      <div class="field centered" style="width: 90%">
        <p>Començament:</p>
        <%= number_field_tag :start_h, '', min: 0, max: 23, value: 9, style: "width: 40px" %>h:
        <%= number_field_tag :start_m, '', min: 0, max: 59, value: 0, style: "width: 40px" %>m
        <p>Es un event?</p>
        <span class="toggle-button off" id="toggle-button" onclick="toggleDuration()">No</span>
        <div id="hide-from-toggle" style="display: none;">
          <p>Durada:</p>
          <%= number_field_tag :duration_h, '', min: 0, max: 99999, value: 0, style: "width: 40px;", class: "reset-toggle" %>h:
          <%= number_field_tag :duration_m, '', min: 0, max: 59, value: 0, style: "width: 40px;", class: "reset-toggle" %>m
        </div>
      </div>



      <div class="field centered" style="width: 90%">
        <p class="textlabel">Categoria:</p>
        <% categories = [] %>
        <% @group.categories.each do |category| %>
          <% categories << category.name %>
        <% end %>
        <%= select_tag :category, options_for_select(categories << "<Buit>", "<Buit>")%>
      </div>

      <div class="field centered" style="width: 90%">
        <%= file_field_tag :file, class: "file-upload" %>
      </div>

      <div class="action">
        <%= submit_tag 'Crear tasca', class: "submit-button big"%>
      </div>
    </div>
  <% end %>
</div>
</body>