<!-- navbar TODO: Poner fondo! -->
<div class = "nav-container">
  <div class = "navbar">
    <ul>
      <li>
        <%= link_to "Agenda", root_url, class: "element" %>
      </li>
      <li>
        <%= link_to "Novetats", "/news", class: "element" %>
      </li>
      <li>
        <%= link_to "Contacte", "/contact", class: "element" %>
      </li>

      <!-- Botones de login -->
      <% if @current_user %>
        <li class="nav-centered-right">
          <%= link_to "Tencar sessió", "/logout", class: "element" %>
        </li>
        <li class="nav-centered-right">
          <% unless @hide_profile_link %>
            <span>Has entrat com a <%= link_to @current_user.username, "/profile/" + @current_user.id.to_s %> </span>
          <% end %>
        </li>

        <!-- TODO: Implementar AJAX -->
        <% if @notifications == 0 %>
          <li class="nav-centered-right">
            <%= link_to("/notifications", class: "dropdown element bell fas fa-bell-slash") do %>
            <% end %>
          </li>
        <% else %>
          <li class="nav-centered-right">
            <span class="number"> <%= @notifications %></span>
          </li>

          <li class="nav-centered-right">
            <%= link_to("/notifications", class: "dropdown element bell fas fa-bell") do %>
            <% end %>
          </li>
        <% end %>

      <% else %>
        <% unless @hide_user %>
          <li class="nav-centered-right">
            <%= link_to "Registre", "/register", class: "element" %>
          </li>
          <li class="nav-centered-right">
            <%= link_to "Iniciar sessió", "/login", class: "element"%>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
  <div class = "second-navbar">
    <ul>
      <li>
        <%= link_to "Tasques", "/tasks", class: "element" %>
      </li>
      <li>
        <%= link_to "Grups", "/groups", class: "element" %>
      </li>
      <li>
        <%= link_to "Calendari", "/calendar", class: "element" %>
      </li>
    </ul>
  </div>
</div>
