<!-- navbar -->
<div class = "navmargin navbar" id = "topnavbar">
  <ul>
    <% if current_user %>
    <li>
      <a href="javascript:void(0)" class="dropdown element plus" onclick="dropdownNavBarActive();" onblur="dropdownNavBarInactive()">+</a>
      <div class="dropdown-content hidden" id="dropdown-content">
        <a href="#">Esdeveniment</a>
        <a href="#">Categoria</a>
      </div>
    </li>
    <% end %>
    <li>
      <%= link_to "Agenda", root_url, class: "element" %>
    </li>
    <li>
      <%= link_to "Novetats", "/news", class: "element" %>
    </li>
    <li>
      <%= link_to "Contacte", "/contact", class: "element" %>
    </li>

    <!-- Botones de login -->
    <% if current_user %>
      <li class="nav-centered-right">
        <%= link_to "Tencar sessió", "/logout", class: "element" %>
      </li>
      <li class="nav-centered-right">
        <% unless @hide_profile_link %>
          <span>Logged in as <%= link_to current_user.username, "/profile/" + current_user.username %> </span>
        <% end %>
      </li>
    <% else %>
      <% unless @hide_user %>
        <li class="nav-centered-right">
          <%= link_to "Registre", "/register", class: "element" %>
        </li>
        <li class="nav-centered-right">
          <%= link_to "Iniciar sessió", "/login", class: "element"%>
        </li>
      <% end %>
    <% end %>


    <a href="javascript:void(0);" class="icon" onclick="responsiveMenuNavBar();">
      <i class="fa fa-bars">
      </i>
    </a>
  </ul>
</div>