<!DOCTYPE html>
<html lang="es">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <%= render template: 'templates/imports' %>
</head>
<body>
  <!-- navbar -->
  <% if @user %>
    <%= render template: 'templates/big-nav' %>
  <% else %>
    <%= render template: 'templates/navbar' %>
  <% end %>

  <!-- front intro page -->

  <div class = "page">

    <% if @user %>
      <div class="bignav-separator"></div>
    <% else %>
      <div class="navbar-separator"></div>
    <% end %>


    <% unless @user %>
    <h1>
      Agenda
    </h1>
    <p>Benvingut a Agenda!</p><p>Agenda és una altre manera de organitzar-se, utilitzant el poder de la sincronització!
  </p><p>Per començar a utilitzar-la, registra't amb el botó de adalt a la dreta!
  </p><p>A que esperes?
    </p>
    <% else %>
        <%= render template: 'templates/alerts' %>

        <h1>
          La teva agenda <!-- Capitalist momento -->
        </h1>

        <%if @user.groups.count == 0 %>
          <h2>Benvingut a Agenda!</h2>
          <p>Per començar a sincronitzar tasques, has d'entrar en un grup. Per entrar en un grup tens dugues opcions:</p>

          <li>Esperar a que algu et convidi al seu grup</li>
          <li>Crear el teu propi grup</li>

          <p>Quan algú et convidi al seu grup t'arribarà una notificació. Per veure les notificacions has de clicar el número de les notificacions al costat de la campaneta</p>
          <p>Si pitjes en el teu nom d'usuari, pots modificar el teu avatar i també els paràmetres del teu compte</p>
          <p>Si vols crear un grup pots fer-ho pitjant aquest botó:</p>
          <%= render template: 'templates/quick-start-buttons'%>
        <% else %>
          <h2>- Actualment tens <%= Assigment.where(user: @user, is_done: nil).count %> tasques per completar</h2>
          <div id="clock"></div>
        <% end %>
    <% end %>
  </div>
  <%= render template: 'templates/footer' %>
</body>
</html>


