<!DOCTYPE html>
<html lang="es">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <script src="https://kit.fontawesome.com/7ef18f319f.js" crossorigin="anonymous"></script>

  <%= javascript_pack_tag 'application' %>

  <%= stylesheet_link_tag "home" %>

<title>Hello, world!</title>
</head>
<body>
  <div class = "navmargin navbar" id = "topnavbar">
    <ul>
      <li ><a href="#home">Agenda</a></li>
      <li ><a href="#news">News</a></li>
      <li ><a href="#contact">Contact</a></li>

      <!-- Botones de login -->
      <% if current_user %>
        <li class="nav-centered-right">
          <%= link_to "Log out", "/logout" %>
        </li>
        <li class="nav-centered-right">
          <span>Logged in as <%= current_user.username%></span>
        </li>
      <% else %>
        <li class="nav-centered-right">
          <%= link_to "Sign up", "/register" %>
        </li>
        <li class="nav-centered-right">
          <%= link_to "Sign in", "/login" %>
        </li>
      <% end %>


      <a href="javascript:void(0);" class="icon" onclick="responsiveMenuNavBar();">
          <i class="fa fa-bars">
          </i>
        </a>
    </ul>
  </div>
  <div class = "page">
    <h1>
      Agenda
    </h1>
    <p>
      Wow this is a cool paragraph xDDDD
      Wow this is a cool paragraph xDDDD
      Wow this is a cool paragraph xDDDD
      Wow this is a cool paragraph xDDDD
      Wow this is a cool paragraph xDDDD
      Wow this is a cool paragraph xDDDD
      Wow this is a cool paragraph xDDDD
      Wow this is a cool paragraph xDDDD
      Wow this is a cool paragraph xDDDD
      Wow this is a cool paragraph xDDDD
      Wow this is a cool paragraph xDDDD
      Wow this is a cool paragraph xDDDD
      Wow this is a cool paragraph xDDDD
      Wow this is a cool paragraph xDDDD
      Wow this is a cool paragraph xDDDD
      Wow this is a cool paragraph xDDDD
      Wow this is a cool paragraph xDDDD
      Wow this is a cool paragraph xDDDD
      Wow this is a cool paragraph xDDDD
      Wow this is a cool paragraph xDDDD
      Wow this is a cool paragraph xDDDD
      Wow this is a cool paragraph xDDDD
      Wow this is a cool paragraph xDDDD
      Wow this is a cool paragraph xDDDD
      Wow this is a cool paragraph xDDDD
      Wow this is a cool paragraph xDDDD
      Wow this is a cool paragraph xDDDD
      Wow this is a cool paragraph xDDDD
      Wow this is a cool paragraph xDDDD
      Wow this is a cool paragraph xDDDD
      Wow this is a cool paragraph xDDDD
      Wow this is a cool paragraph xDDDD
      Wow this is a cool paragraph xDDDD
      Wow this is a cool paragraph xDDDD
      Wow this is a cool paragraph xDDDD
      Wow this is a cool paragraph xDDDD
      Wow this is a cool paragraph xDDDD
      Wow this is a cool paragraph xDDDD
      Wow this is a cool paragraph xDDDD
      Wow this is a cool paragraph xDDDD
      Wow this is a cool paragraph xDDDD      Wow this is a cool paragraph xDDDD
      Wow this is a cool paragraph xDDDD
      Wow this is a cool paragraph xDDDD
      Wow this is a cool paragraph xDDDD      Wow this is a cool paragraph xDDDD
      Wow this is a cool paragraph xDDDD
      Wow this is a cool paragraph xDDDD
      Wow this is a cool paragraph xDDDD      Wow this is a cool paragraph xDDDD
      Wow this is a cool paragraph xDDDD
      Wow this is a cool paragraph xDDDD
      Wow this is a cool paragraph xDDDD      Wow this is a cool paragraph xDDDD
      Wow this is a cool paragraph xDDDD
      Wow this is a cool paragraph xDDDD
      Wow this is a cool paragraph xDDDD      Wow this is a cool paragraph xDDDD
      Wow this is a cool paragraph xDDDD
      Wow this is a cool paragraph xDDDD
      Wow this is a cool paragraph xDDDD      Wow this is a cool paragraph xDDDD
      Wow this is a cool paragraph xDDDD
      Wow this is a cool paragraph xDDDD
      Wow this is a cool paragraph xDDDD      Wow this is a cool paragraph xDDDD
      Wow this is a cool paragraph xDDDD
      Wow this is a cool paragraph xDDDD
      Wow this is a cool paragraph xDDDD      Wow this is a cool paragraph xDDDD
      Wow this is a cool paragraph xDDDD
      Wow this is a cool paragraph xDDDD
      Wow this is a cool paragraph xDDDD      Wow this is a cool paragraph xDDDD
      Wow this is a cool paragraph xDDDD
      Wow this is a cool paragraph xDDDD
      Wow this is a cool paragraph xDDDD      Wow this is a cool paragraph xDDDD
      Wow this is a cool paragraph xDDDD
      Wow this is a cool paragraph xDDDD
      Wow this is a cool paragraph xDDDD      Wow this is a cool paragraph xDDDD
      Wow this is a cool paragraph xDDDD
      Wow this is a cool paragraph xDDDD
      Wow this is a cool paragraph xDDDD      Wow this is a cool paragraph xDDDD
      Wow this is a cool paragraph xDDDD
      Wow this is a cool paragraph xDDDD
      Wow this is a cool paragraph xDDDD      Wow this is a cool paragraph xDDDD
      Wow this is a cool paragraph xDDDD
      Wow this is a cool paragraph xDDDD
      Wow this is a cool paragraph xDDDD      Wow this is a cool paragraph xDDDD
      Wow this is a cool paragraph xDDDD
      Wow this is a cool paragraph xDDDD
      Wow this is a cool paragraph xDDDD      Wow this is a cool paragraph xDDDD
      Wow this is a cool paragraph xDDDD
      Wow this is a cool paragraph xDDDD
      Wow this is a cool paragraph xDDDD      Wow this is a cool paragraph xDDDD
      Wow this is a cool paragraph xDDDD
      Wow this is a cool paragraph xDDDD
      Wow this is a cool paragraph xDDDD      Wow this is a cool paragraph xDDDD
      Wow this is a cool paragraph xDDDD
      Wow this is a cool paragraph xDDDD
      Wow this is a cool paragraph xDDDD      Wow this is a cool paragraph xDDDD
      Wow this is a cool paragraph xDDDD
      Wow this is a cool paragraph xDDDD
      Wow this is a cool paragraph xDDDD      Wow this is a cool paragraph xDDDD
      Wow this is a cool paragraph xDDDD
      Wow this is a cool paragraph xDDDD
      Wow this is a cool paragraph xDDDD      Wow this is a cool paragraph xDDDD
      Wow this is a cool paragraph xDDDD
      Wow this is a cool paragraph xDDDD
      Wow this is a cool paragraph xDDDD      Wow this is a cool paragraph xDDDD
      Wow this is a cool paragraph xDDDD
      Wow this is a cool paragraph xDDDD
      Wow this is a cool paragraph xDDDD      Wow this is a cool paragraph xDDDD
      Wow this is a cool paragraph xDDDD
      Wow this is a cool paragraph xDDDD
      Wow this is a cool paragraph xDDDD      Wow this is a cool paragraph xDDDD
      Wow this is a cool paragraph xDDDD
      Wow this is a cool paragraph xDDDD
      Wow this is a cool paragraph xDDDD      Wow this is a cool paragraph xDDDD
      Wow this is a cool paragraph xDDDD
      Wow this is a cool paragraph xDDDD
      Wow this is a cool paragraph xDDDD      Wow this is a cool paragraph xDDDD
      Wow this is a cool paragraph xDDDD
      Wow this is a cool paragraph xDDDD
      Wow this is a cool paragraph xDDDD      Wow this is a cool paragraph xDDDD
      Wow this is a cool paragraph xDDDD
      Wow this is a cool paragraph xDDDD
      Wow this is a cool paragraph xDDDD      Wow this is a cool paragraph xDDDD
      Wow this is a cool paragraph xDDDD
      Wow this is a cool paragraph xDDDD
      Wow this is a cool paragraph xDDDD      Wow this is a cool paragraph xDDDD
      Wow this is a cool paragraph xDDDD
      Wow this is a cool paragraph xDDDD
      Wow this is a cool paragraph xDDDD
    </p>
  </div>
</body>
</html>


