<!DOCTYPE html>
<html lang="es">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <%= render template: 'templates/imports' %>
</head>
<body>
<!-- navbar -->
<%= render template: 'templates/navbar' %>
<div class = "page">
  <div class="navbar-separator"></div>
  <h1>
    Notificacions
  </h1>

  <% if @notifications == 0 %>
    No tens cap notificació.
  <% else %>
    <% @current_user.notifications.each do |notification| %>
      <div class="notification">
        <h2><%= notification.title %></h2>
        <p><%= notification.content %></p>

        <div class="buttons">
          <%= link_to "Acceptar", notification.action, class: "blue-button"%>

          <%= link_to "Borrar", '/notifications/delete/' + notification.id.to_s, class: "red-button"%>
        </div>

        <p class="no-important"><%= notification.created_at.to_s(:db) %></p>
      </div>
    <% end %>
  <% end %>

  <%= render template: 'templates/footer' %>
</div>
</body>