<!DOCTYPE html>
<html lang="es">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <%= render template: 'templates/imports' %>

  <title>Hello, world!</title>
</head>
<body>
<!-- navbar -->
<%= render template: 'templates/navbar' %>
<div class = "page">
  <h1>
    Notificacions
  </h1>

  <% if @notifications == 0 %>
    No tens ninguna notificació nova.
  <% else %>
    <% @current_user.notifications.each do |notification| %>
      <div class="notification">
        <h2><%= notification.title %></h2>
        <p><%= notification.content %></p>

        <div class="buttons">
          <%= link_to "Accept", notification.action%>
        </div>
      </div>
    <% end %>
  <% end %>

</div>
</body>