<!DOCTYPE html>
<html lang="es">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <%= render template: 'templates/imports' %>
</head>
<body>
<!-- navbar -->
<%= render template: 'templates/big-nav' %>

<!-- front intro page -->

<div class = "page">
  <div class="bignav-separator"></div>
  <h2>Les teves tasques:</h2>

  <% n = false %>

  <% @user.assigments.where(is_done: [nil, false]).each do |assigment| %>
    <% @p_assigment = assigment %>
    <% @p_completed = false %>
    <%= render template: 'templates/task-preview' %>
    <% n = true %>
  <% end %>

  <% unless n %>
    Tot net! No tens cap tasca a fer!
  <% end %>
  <div style="height: 30px"></div> <!-- separator -->
  <h2>Tasques completades:</h2>
  <% n = false %>

  <% @user.assigments.where(is_done: true).each do |assigment| %>
    <% @p_assigment = assigment %>
    <% @p_completed = true %>
    <% n = true %>
    <%= render template: 'templates/task-preview' %>
  <% end %>

  <% unless n %>
    Encara no has completat cap tasca.
  <% end %>
  <div style="height: 30px"></div> <!-- separator -->
</div>
<%= render template: 'templates/footer' %>
</body>
</html>


