<!DOCTYPE html>
<html lang="es">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <%= render template: 'templates/imports' %>
</head>
<body>
<!-- navbar -->
<%= render template: 'templates/navbar' %>
<div class = "page centered">
  <h1>Convida gent a <%= @group.name %></h1>
  <%= form_tag group_invite_path, class: "form-container", multipart: true do |form| %>
    <div class="form-parameters">
      <div class="field centered" style="width: 75%">
        <%= label_tag 'label_invite', "Correu electrònic:", class: "textlabel" %>
        <br>
        <%= text_field_tag :invitation_email, '', class: "textboxlarge", placeholder: 'correu@electronic.com'%>
      </div>
      <div class="action">
        <%= submit_tag 'Enviar', class: "submit-button big"%>
      </div>
    </div>
  <% end %>
</div>
</body>