<!DOCTYPE html>
<html lang="es">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <%= render template: 'templates/imports' %>

  <title>Hello, world!</title>
</head>
<body>
<!-- navbar -->
<%= render template: 'templates/navbar' %>
<div class = "page centered">
  <%if alert %>
    <div class="alert red">
      <%= alert %>
    </div>
  <% end %>
  <h1>
    Unieix-te a un grup
  </h1>
  <%= form_tag group_join_path, class: "form-container", multipart: true do |form| %>
    <div class="form-parameters">
      <div class="field centered" style="width: 75%">
        <%= label_tag 'groupcode', "Codi del grup:", class: "textlabel" %>
        <br>
        <%= text_field_tag :groupcode, '', class: "textboxlarge", placeholder: 'a1b2c3d4', maxlength: 8 %>
      </div>
      <div class="action">
        <%= submit_tag 'Buscar', class: "submit-button big"%>
      </div>
    </div>
  <% end %>
</div>
</body>