<!DOCTYPE html>
<html lang="es">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <%= render template: 'templates/imports' %>

  <title>Hello, world!</title>
</head>
<body>
<%= render template: 'templates/navbar' %>
<div class = "page">
  <h2>Grup</h2>
  <h1><%=@group.name%></h1>
  <p><%= @group.desc %></p>

  <p>Codi del grup: <%= @group.code %></p>
  <%= render template: 'templates/alerts' %>

  <% if @user.get_role(@group) == 1 %>
    <%= render template: 'templates/group-actions' %>
  <% end %>

  <h2>Tasques:</h2>
  <% if @group.tasks.count == 0 %>
    <p>No hi ha ninguna tasca!</p>
  <% else %>
    <% @group.tasks.each do |task| %>
      <p><%= task.title %></p>
    <% end %>
  <% end %>

  <% if @user.get_role(@group) != 2 %>
    <%= render template: 'templates/group-members' %>
  <% end %>

</div>
</body>
</html>