<!DOCTYPE html>
<html lang="es">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <%= render template: 'templates/imports' %>

  <title>Hello, world!</title>
</head>
<body>
<%= render template: 'templates/navbar' %>
<div class = "page">
  <h2>Grup</h2>
  <h1><%=@group.name%></h1>
  <p>Code: <%= @group.code %></p>
  <%= render template: 'templates/alerts' %>
  <% if @user %>
    <h2>Members:</h2>
    <table class="table">
      <% Membership.where(group_id: @group.id).each do |member| %>
        <tr>
          <% @listuser = User.find_by_id(member.user_id) %>
          <td style="width: 25px">
            <% if @listuser.avatar.attached? %>
              <%= image_tag(url_for(@listuser.avatar), class: "profile-image-small")%>
            <% else %>
              <%= image_tag("profile.png", class: "profile-image-small")%>
            <% end %>
          </td>
          <td>
            <%= @listuser.username %>
          </td>
          <td><%= Membership.get_role(member.role) %></td>
        </tr>
      <% end %>
    </table>
  <% end %>
</div>
</body>
</html>