<!DOCTYPE html>
<html lang="es">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <%= render template: 'templates/imports' %>
</head>
<body>
<%= render template: 'templates/navbar' %>
<div class = "page">
  <div class="navbar-separator"></div>
  <h2>Grup</h2>
  <h1><%=@group.name%></h1>
  <p><%= @group.desc %></p>

  <p>Codi del grup: <%= @group.code %></p>
  <% role = @user.get_role(@group) %>
  <%= render template: 'templates/alerts' %>

  <% if role == 1 %>
    <%= render template: 'templates/group-actions' %>
  <% elsif role == 0 %>
    <div class="horizontal-layout">
      <%= render template: '/templates/buttons/create-task' %>
      <%= render template: '/templates/buttons/create-category' %>
    </div>
  <% end %>

  <h2>Categories:</h2>
  <div class="colorblock-layout">
    <% @group.categories.each do |category| %>
      <% color =  Utils::Color.fromInt(category.accentcolor)%>
      <% if color.isBright %>
        <div class="category" style="color: #000; background-color: <%= '#' + color.toHex %>"><%= category.name %></div>
      <% else %>
        <div class="category" style="color: #fff;background-color: <%= '#' + color.toHex %>"><%= category.name %></div>
      <% end %>
    <% end %>
  </div>

  <h2>Tasques:</h2>
  <% if @group.tasks.count == 0 %>
    <p>No hi ha ninguna tasca!</p>
  <% else %>
    <% @group.tasks.each do |task| %>
      <p><%= task.title %></p>
    <% end %>
  <% end %>

  <% if role != 2 %>
    <%= render template: 'templates/group-members' %>
  <% end%>

</div>

<%= render template: 'templates/footer' %>
</body>
</html>