<!DOCTYPE html>
<html lang="es">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <%= render template: 'templates/imports' %>
</head>
<body>
<!-- navbar -->
<%= render template: 'templates/navbar' %>
<div class = "page centered">
  <h1>Edit profile</h1>
  <%= form_tag '/editprofile', class: "form-container", multipart: true do |form| %>
    <div class="form-parameters">
      <%if alert %>
        <div class="alert red">
          <%= alert %>
        </div>
      <% end %>

      <div class="field">
        <%= label_tag 'password', 'Confirma la contraseña per poder fer canvis:', class: "textlabel" %>
        <br>
        <%= password_field_tag :password, '', class: "textbox"%>
      </div>

      <br>

      <div class="horizontal-layout">
        <div class="field">
          <%= label_tag 'displayname', "Nom d'usuari:", class: "textlabel" %>
          <br>
          <%= text_field_tag :displayname, '', value: @user.displayname, class: "textbox" %>
        </div>
        <div class="field">
          <%= label_tag 'birthdate', "Data de naixement:", class: "textlabel" %>
          <br>
          <%= date_field :birthdate, '', value: @user.birthdate, class: 'textbox' %>
        </div>
        <div class="field">
          <%= label_tag 'name', "Nom:", class: "textlabel" %>
          <br>
          <%= text_field_tag :name, '', value: @user.name, class: "textbox" %>
        </div>
        <div class="field">
          <%= label_tag 'surname', "Cognoms:", class: "textlabel" %>
          <br>
          <%= text_field_tag :surname, '', value: @user.surname, class: "textbox" %>
        </div>
      </div>

      <div class="field" style="width: 80%">
        <%= label_tag 'description', "Descripció:", class: "textlabel" %>
        <br>
        <%= text_area_tag :description, @user.description, class: "bigtextbox" %>
      </div>

      <div class="field">
        <%= label_tag 'avatarfield', 'Avatar:', class: "textlabel" %>
        <br>
        <%= file_field_tag :avatar, class: "file-upload" %>
      </div>
      <div class="action">
        <%= submit_tag 'Save', class: "submit-button big"%>
      </div>
    </div>
  <% end %>
</div>
</body>