<!DOCTYPE html>
<html lang="es">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <%= render template: 'templates/imports' %>
</head>
<body>

<!-- navbar -->
<%= render template: 'templates/navbar' %>

<div class="page">
  <div class="navbar-separator"></div>
  <% if @viewuser %>

    <h1><%= @viewuser.displayname %></h1>
    <% if @viewuser.avatar.attached? %>
      <%= image_tag(url_for(@viewuser.avatar), class: "profile-image-large")%>
    <% else %>
      <%= image_tag("profile.png", class: "profile-image-large")%>
    <% end %>
    <p><%= @viewuser.description %></p>

    <% if @is_my_profile %>
      <br>
      <%= link_to "Modificar...", "/editprofile", class: "blue-button" %>
    <% end %>

  <% else %>
    <h1>User not found</h1>
  <% end %>
</div>

<%= render template: 'templates/footer' %>

</body>
</html>